* {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
}

h1, h2 {
    text-align: center;
    margin: 0;
}

h3 {
    font-size: medium; 
}

p {
    text-align: justify;
}

/* header selectors */

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header nav {
    margin: 2px;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li{
    margin: 5px;
}

/* main selectors */

main {
    display: flex;
    flex-direction: column;
}

.content {
    padding: 20px 0;
}

/* project selectors */

#projects {
    display: flex;
    flex-direction: column;
}

#star-project {
    height: auto;
}

.card {
    text-align: center;
    flex-direction: column;
    margin: 20px auto;
}

.project-image {
    height: 400px;
}

.secondary-project-image {
    height: 100px;
}

.project-image img,
.secondary-project-image img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 20% 10%;
    opacity: 60%;
}

.project-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}

.card:hover .project-image img,
.card:hover .secondary-project-image img {
    opacity: 100%;
}

/* contact selectors */

#contact {
    text-align: center;
}

#contact a {
    text-decoration: none;
}

#contact a img {
    height: 40px;
    margin: 10px;
}

@media screen and (min-width: 768px) {

    main {
        margin: 0 10%;
    }

    /* main selectors */
    .content {
        display: inline-flex;
    }

    .content h2{
        flex: 0 0 20%;
        text-align: right;
        padding: 10px;
        margin: 0 15px;
        border-right: 3px solid black; 
    }

    /* project selectors */
    #projects {
        display: inline-flex;
        flex-direction: row;
    }

    .card {
        margin: 0;
    }

    .content-holder {
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}