* {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
}

h1, h2 {
    text-align: center;
    margin: 0;
}

p {
    text-align: justify;
}

/* header selectors */

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header nav {
    margin: 2px;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li{
    margin: 5px;
}

/* main selectors */

main {
    display: flex;
    flex-direction: column;
}

.content {
    padding: 20px 5%;
}

/* contact selectors */

#contact {
    text-align: center;
}

#contact a {
    text-decoration: none;
}

#contact a img {
    height: 45px;
    margin: 10px;
}