* {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #fff;
}

h1 {
    font-size: 2.5em;
    margin: 5px;
    line-height: .75;
}

h2 {
    text-align: center;
    color: #222831;
}

h3 {
    color: #fff;
    font-weight: lighter;
}

p {
    text-align: justify;
    padding: 10px;
    margin: 15px;
    color: #30475e;
}

a {
    color: #f05454;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    opacity: 100%;
}

a:hover {
    opacity: 70%;
}

/* header selectors */

header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px 5%;
}

header nav {
    margin: 2px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li{
    margin: 5px;
}

.title {
    display: flex;
    flex-wrap: wrap;
    flex: 0;
}

.description {
    flex: 0;
    font-size: 50%;
    white-space: nowrap;
}

/* main selectors */

main {
    display: flex;
    flex-direction: column;
}

.content {
    padding: 20px 0;
}

/* project selectors */

#projects {
    display: flex;
    flex-direction: column;
}

#star-project {
    height: auto;
}

.card {
    text-align: center;
    flex-direction: column;
    margin: 10px;
    padding: 5px 5px 0 5px;
    background: #30475e;
}

.project-image {
    height: 400px;
}

.secondary-project-image {
    height: 100px;
}

.project-image img,
.secondary-project-image img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 25%;
    opacity: 75%;
}

.project-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}

.card:hover .project-image img,
.card:hover .secondary-project-image img {
    opacity: 100%;
}

/* contact selectors */

#contact {
    text-align: center;
}

#contact a {
    text-decoration: none;
}

#contact a img {
    height: 40px;
    margin: 10px;
}

@media screen and (min-width: 768px) {
    /* header selectors */
    header {
        flex-direction: column;
    }

    header nav ul {
        justify-content: flex-end;
    }

    .title {
        width: 100%;
    }
    
    /* main selectors */
    main {
        margin: 0 10%;
    }

    .content {
        display: inline-flex;
        align-content: flex-end;
    }

    .content h2{
        flex: 0 0 14%;
        text-align: right;
        padding: 10px;
        margin: 0 15px;
        border-right: 3px solid #f05454; 
    }

    /* project selectors */
    #projects {
        display: inline-flex;
        flex-direction: row;
    }

    .content-holder {
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}